<div class="relative mt-2 ml-10 mr-10">
    <div class="flex items-center">
        <input type="text" name="price" id="price"
            class="block w-full rounded-md border-2 border-amber-600 py-1.5 pl-7 pr-10 text-black placeholder:text-black focus:outline-none focus:border-amber-600 sm:text-sm sm:leading-5"
            placeholder="Buscar..." aria-describedby="searcher">

        <button type="button"
            class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-500 focus:outline-none focus:text-gray-600"
            aria-label="Buscar">
            <i class="fa-solid fa-search"></i>
        </button>
    </div>
</div>
<div class="flex items-center justify-between mt-2 ml-10 mr-10">
    <button type="button" class="ml-auto px-4 py-2 text-amber-600 font-bold text-7xl" aria-label="Botón Mas">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>

<div class="carousel">
    <carousel [itemsPerSlide]="3">
        <slide *ngFor="let monitor of monitors">
            <div class="ml-10 mr-10 rounded overflow-hidden shadow-lg bg-gray-300 relative">
                <div class="absolute top-0 left-0 p-2">
                    <i class="fa-solid fa-pencil-alt text-amber-600"></i>
                </div>
                <div class="absolute top-0 right-0 p-2">
                    <i class="fa-solid fa-trash-alt text-amber-600"></i>
                </div>
                <div class="text-center mt-10 text-amber-600 text-8xl">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 text-center">{{monitor.nombre}}</div>
                    <div class="flex items-center justify-center">
                        <a href="malito:{{ monitor.email }}" class="text-gray-700 text-base mb-2 inline-block">{{ monitor.email }}</a>
                        <a href="tel:+34{{monitor.telefono}}" class="text-gray-700 text-base mb-2 inline-block">{{monitor.telefono}}</a>
                    </div>
                </div>
            </div>
        </slide>
    </carousel>
</div>