<div class="relative mt-2 ml-10 mr-10">
    <div class="flex items-center">
        <input type="text" name="price" id="price"
            class="block w-full rounded-md border-2 border-amber-600 py-1.5 pl-7 pr-10 text-black placeholder:text-black focus:outline-none focus:border-amber-600 sm:text-sm sm:leading-5"
            placeholder="Buscar..." aria-describedby="searcher">

        <button type="button"
            class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-500 focus:outline-none focus:text-gray-600"
            aria-label="Buscar">
            <i class="fa-solid fa-search"></i>
        </button>
    </div>
</div>
<div class="flex items-center justify-between mt-2 ml-10 mr-10">
    <button type="button" class="ml-auto px-4 py-2 text-amber-600 font-bold text-7xl" aria-label="Botón Mas"
        (click)="openModal()">
        <i class="fa-solid fa-plus"></i>
    </button>
</div>

<!-- Modal -->
<div *ngIf="isModalOpen" class="fixed inset-0 overflow-y-auto modal-container">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div
            class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-gray-50 px-4 py-5 sm:p-6">
                <!-- Contenido del formulario para agregar monitor -->
                <form (submit)="addMonitor()">
                    <!-- Aquí puedes agregar tu formulario con los campos necesarios -->
                    <div class="mb-4">
                        <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
                        <input type="text" [(ngModel)]="newMonitor.nombre" id="nombre" name="nombre"
                            class="block w-full rounded-md border-2 border-amber-600 py-1.5 px-2 text-black placeholder:text-black focus:outline-none focus:border-amber-600 sm:text-sm sm:leading-5">
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
                        <input type="email" [(ngModel)]="newMonitor.email" id="email" name="email"
                            class="block w-full rounded-md border-2 border-amber-600 py-1.5 px-2 text-black placeholder:text-black focus:outline-none focus:border-amber-600 sm:text-sm sm:leading-5">
                    </div>
                    <div class="mb-4">
                        <label for="telefono" class="block text-gray-700 text-sm font-bold mb-2">Teléfono:</label>
                        <input type="tel" [(ngModel)]="newMonitor.telefono" id="telefono" name="telefono"
                            class="block w-full rounded-md border-2 border-amber-600 py-1.5 px-2 text-black placeholder:text-black focus:outline-none focus:border-amber-600 sm:text-sm sm:leading-5">
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit" class="px-4 py-2 bg-amber-600 text-white rounded-md">Aceptar</button>
                        <button type="button" class="px-4 py-2 text-gray-500" (click)="closeModal()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Verifica si hay monitores antes de mostrar el carousel -->
<div *ngIf="monitors && monitors.length > 0">
    <p-carousel [value]="monitors" [numVisible]="numVisible" [numScroll]="1" [circular]="true">
        <ng-template let-monitor pTemplate="item">
            <div class="mt-5 ml-10 mr-10 rounded overflow-hidden shadow-lg bg-gray-300 relative">
                <div class="absolute top-0 left-0 p-2" (click)="loadMonitor(monitor)">
                    <i class="fa-solid fa-pencil-alt text-amber-600"></i>
                </div>
                <div class="absolute top-0 right-0 p-2" (click)="removeMonitor(monitor.id)">
                    <i class="fa-solid fa-trash-alt text-amber-600"></i>
                </div>
                <div class="text-center mt-10 text-amber-600 text-8xl">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 text-center">{{ monitor.nombre }}</div>
                    <div class="flex items-center justify-center space-y-2">
                        <a href="mailto:{{ monitor.email }}" class="text-gray-700 text-base inline-block">{{
                            monitor.email }}</a>
                    </div>
                    <div class="flex items-center justify-center space-y-2">
                        <a href="tel:+34{{ monitor.telefono }}" class="text-gray-700 text-base inline-block">{{
                            monitor.telefono }}</a>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>

<!-- Si no hay monitores, muestra un mensaje -->
<div *ngIf="!monitors || monitors.length === 0" class="text-center mt-5 text-red-600 mt-5 ml-10 mr-10">
    <p class="text-2xl font-bold">¡Oops!</p>
    <p>No hay monitores disponibles en este momento.</p>
</div>